<!--Offcanvas-->
<div id="offcanvas" class="offcanvas offcanvas-start bg-dark text-light" tabindex="-1"
 aria-labelledby="offcanvasLink">

  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">
      Atlas Log
    </h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>

  <div class="offcanvas-body">

    <!--Search Bar-->
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search page" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-1 btn-sm" type="submit">Search</button>
    </form>

    <!--Tab list w/ links to each window-->
    <div class="list-group-flush pt-2">
      <a [routerLink]="['profile', uid]" class="list-group-item list-group-item-action bg-dark" aria-current="true">
        My Account
      </a>
      <a [routerLink]="['map-select']" class="list-group-item list-group-item-action bg-dark">My Maps</a>
      <a href="#" class="list-group-item list-group-item-action bg-dark">Account Settings</a>
    </div>
  </div>
</div>
