<div class="modal-header">
  <h4 class="modal-title pull-left">Add New Map</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="modalRef?.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <form [formGroup]="addMapForm" (ngSubmit)="addMap()" class="row">
    <div class="col input-group mb-3">
      <div
        class="border border-danger h-100 w-100 text-center rounded-3 shadow"
        role="button"
        (click)="fileInput.click()"
        (drop)="test2()"
        *ngIf="!fakeImg"
      >
        <span class="text-muted display-6">Click to Add Image</span>
      </div>

      <!-- ImageAcceptor -->
      <input
        type="file"
        accept="image/*"
        (change)="processImage($event)"
        hidden
        #fileInput
      />
      <!-- ImageAcceptor /-->
      <small [id]="'imageUrl' + '-error'" class="invalid-feedback">
        image is required
      </small>
      <!-- <img *ngIf='!showImageAdd' style='width: 100%' [src]='addMapForm.controls.imageUrl.value'> -->
      <div
        *ngIf="fakeImg"
        class="border border-success h-100 w-100 text-center rounded-3 shadow"
      >
        <img class="h-100 w-100 p-1" [src]="fakeImg" />
      </div>
    </div>
    <div class="col">
      <div class="form-floating mb-3" *ngFor="let formControl of formConst">
        <input
          *ngIf="formControl.type === 'text'"
          type="text"
          class="form-control"
          [id]="formControl.formControl + '-regist'"
          [formControlName]="formControl.formControl"
          [placeholder]="formControl.placeholder"
          [ngClass]="{
            'is-invalid':
              addMapForm.controls[formControl.formControl].invalid &&
              addMapForm.controls[formControl.formControl].touched
          }"
          [attr.aria-describedby]="formControl.formControl + '-error'"
        />

        <textarea
          *ngIf="formControl.type === 'textarea'"
          class="form-control h-100"
          [id]="formControl.formControl + '-regist'"
          [formControlName]="formControl.formControl"
          [placeholder]="formControl.placeholder"
          [ngClass]="{
            'is-invalid':
              addMapForm.controls[formControl.formControl].invalid &&
              addMapForm.controls[formControl.formControl].touched
          }"
          [attr.aria-describedby]="formControl.formControl + '-error'"
          aria-label="required"
        ></textarea>

        <label
          *ngIf="formControl.type === 'text' || formControl.type === 'textarea'"
          [for]="formControl.formControl + '-regist'"
        >
          {{ formControl.placeholder }}
        </label>

        <small
          [id]="formControl.formControl + '-error'"
          class="invalid-feedback"
        >
          {{ formControl.placeholder }} is required
        </small>
      </div>
    </div>

    <div class="d-grid mb-2">
      <button
        class="btn btn-lg btn-primary btn-login fw-bold text-uppercase"
        [disabled]="addMapForm.invalid"
        type="submit"
      >
        Add Map
      </button>
    </div>
  </form>
</div>
