<div class="modal-header">
  <h4 class="modal-title pull-left">Add New Map</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <form [formGroup]="addMapForm" (ngSubmit)="addMap()" class='row'>
    <div class='col input-group mb-3'>
      <button
      class='card-img-top'
      (click)='fileInput.click()'
      (dragover)='test()'
      (drop)='test2()'
      *ngIf='showImageAdd'>
      Add Image
      </button>

      <!-- ImageAcceptor -->
      <input
      type='file'
      accept='image/*'
      (change)='processImage($event)'
      hidden
      #fileInput
      >
      <!-- ImageAcceptor /-->
      <small
        [id]="'imageUrl' + '-error'"
        class="invalid-feedback"
      >
        image is required
      </small>
      <img style='width: 100%' [src]='addMapForm.controls.imageUrl.value'>
    </div>
    <div class='col'>
      <div
        class="form-floating mb-3"
        *ngFor="let formControl of formConst"
      >
        <input
          type="text"
          class="form-control"
          *ngIf='formControl.type === "text"'
          [id]="formControl.formControl + '-regist'"
          [formControlName]="formControl.formControl"
          [placeholder]="formControl.placeholder"
          [ngClass]="{
            'is-invalid':
              addMapForm.controls[formControl.formControl].invalid &&
              addMapForm.controls[formControl.formControl].touched
          }"
          [attr.aria-describedby]="formControl.formControl + '-error'"
        />
        <label *ngIf='formControl.type === "text"' [for]="formControl.formControl + '-regist'">
          {{ formControl.placeholder }}
        </label>

        <small
          [id]="formControl.formControl + '-error'"
          class="invalid-feedback"
        >
          {{ formControl.placeholder }} is required
        </small>
      </div>
    </div>


    <div class="d-grid mb-2">
      <button
        class="
          btn btn-lg btn-primary btn-login
          fw-bold
          text-uppercase
        "
        [disabled]="addMapForm.invalid"
        type="submit"
      >
        Add Map
      </button>
    </div>
  </form>
</div>
