<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div
          class="card flex-row my-5 border-0 shadow rounded-3 overflow-hidden"
        >
          <div class="card-img-left d-none d-md-flex">
            <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body p-4 p-sm-5">
            <ng-container
              *ngTemplateOutlet="passwordCompareErrorTemplate"
            ></ng-container>
            <app-auth-error-display></app-auth-error-display>
            <h3 class="card-title text-center mb-5 fw-bold text-primary shadow-sm py-2 rounded-lg">Register</h3>
            <form [formGroup]="signUpForm" (ngSubmit)="register()">
              <div
                class="form-floating mb-3"
                *ngFor="let formControl of formConst"
              >
                <input
                  *ngIf="!formControl.type || formControl.type != 'datalist'"
                  [type]="formControl.type || 'text'"
                  class="form-control"
                  [id]="formControl.formControl + '-regist'"
                  [formControlName]="formControl.formControl"
                  [placeholder]="formControl.placeholder"
                  [ngClass]="{
                    'is-invalid':
                      signUpForm.controls[formControl.formControl].invalid &&
                      signUpForm.controls[formControl.formControl].touched
                  }"
                  [attr.aria-describedby]="formControl.formControl + '-error'"
                />
                <input
                  *ngIf="formControl.type === 'datalist'"
                  list="countries-list"
                  class="form-control"
                  [id]="formControl.formControl + '-regist'"
                  [formControlName]="formControl.formControl"
                  [placeholder]="formControl.placeholder"
                  [ngClass]="{
                    'is-invalid':
                      signUpForm.controls[formControl.formControl].invalid &&
                      signUpForm.controls[formControl.formControl].touched
                  }"
                  [attr.aria-describedby]="formControl.formControl + '-error'"
                />
                <label [for]="formControl.formControl + '-regist'">
                  {{ formControl.placeholder }}
                  <span class="text-danger">*</span>
                </label>

                <datalist
                  id="countries-list"
                  *ngIf="formControl.formControl === 'country'"
                >
                  <option
                    [value]="option.name"
                    *ngFor="let option of listOfCountries"
                  ></option>
                </datalist>

                <small
                  [id]="formControl.formControl + '-error'"
                  class="invalid-feedback"
                >
                  {{ formControl.placeholder }} is required
                </small>
              </div>

              <div class="d-grid mb-2">
                <button
                  class="
                    btn btn-lg btn-primary btn-login
                    fw-bold
                    text-uppercase
                  "
                  [disabled]="signUpForm.invalid"
                  type="submit"
                >
                  Register
                </button>
              </div>
              <a class="d-block text-center mt-2 small" href="#"
                >Have an account? Sign In</a
              >
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<ng-template #passwordCompareErrorTemplate>
  <ng-container
    *ngIf="
      signUpForm.controls['password'].touched &&
      signUpForm.controls['confirmPassword'].touched
    "
  >
    <alert
      type="danger"
      *ngIf="
        signUpForm.value['password'] !== signUpForm.value['confirmPassword']
      "
    >
      <strong>Oh snap!</strong> The passwords do not match.
    </alert>
    <alert
      type="success"
      *ngIf="
        signUpForm.value['password'] === signUpForm.value['confirmPassword']
      "
    >
      <strong>Yay!</strong> The passwords match.
    </alert>
  </ng-container>
</ng-template>
