body {
  background: #007bff;
  background: linear-gradient(to right, #FFFF, #969fa5);
}

.card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('^assets/images/homepage/SignUp.jpg');
  background-size: cover;
}


