.card-img {
  opacity: 1;
  filter: alpha(opacity=40);
  height: 100%;
  zoom: 1;
}

.card-img-overlay {
  position: absolute;
  transition: 0.5s ease;
  opacity: 0.5;
}

.card:hover {
  .card-img-overlay {
    opacity: 1;
  }
  .card-img {
    opacity: 0.2;
  }
}
