<div id="account-details" class="container-fluid">
  <div class="row my-auto" *ngIf="profileDetails | async as k">

    <!--Heading section w/ profile pic.-->
    <div class="col-auto">
      <img
        src="assets/icons/profile/user.svg"
        alt="profile image"
        class="rounded-circle border shadow"
        width="100"
      />
    </div>
    <div class="col-sm-4">
      <h1><br>Account Details</h1>
    </div>

    <!--Details section w/ all user information-->
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-bg shadow-lg">
          <div class="card-body px-4">

            <div class="row">
              <div class="col-sm-6">
                <h4>Username</h4>
                <h6>{{k.userName}}</h6>
              </div>
              <div class="col-sm-6">
                <h4>Email</h4>
                <h6>{{k.email}}</h6>
                <h6></h6>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-6">
                <h4>First Name</h4>
                <h6>{{k.firstName}}</h6>
              </div>
              <div class="col-sm-6">
                <h4>Last Name</h4>
                <h6>{{k.lastName}}</h6>
              </div>
              <div class="col-sm-6">
                <h4>Date of Birth</h4>
                <h6>{{k.dob}}</h6>
              </div>
              <div class="col-sm-6">
                <h4>Country</h4>
                <h6>{{k.country}}</h6>
              </div>
            </div>

            <hr>

            <div class="row">
              <div class="col-sm-6">
                <h4>Account Created</h4>
                <h6>{{k.createdt}}</h6>
              </div>
              <div class="col-sm-6">
                <h4>Last Modified</h4>
                <h6>{{k.moddt}}</h6>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!--
  <div class="col-12 text-center">
      <img
        src="assets/icons/profile/user.svg"
        alt="profile image"
        class="rounded-circle border shadow"
        width="100"
      />
      <h3 class="text-primary">{{ k.firstName }} {{ k.lastName }}</h3>
    </div>
    <h4 class="text-primary mt-5">Basic Information</h4>
    <div class="col-6 mr-2">
      <div class="card">
        <div class="card-body">
          <div class="my-4">
            <span class="fw-bold">Full Name</span>
            <span class="float-end">{{ k.firstName }} {{ k.lastName }}</span>
          </div>
          <div class="my-4">
            <span class="fw-bold">Email</span>
            <span class="float-end">{{ k.email }}</span>
          </div>
          <div class="my-4">
            <span class="fw-bold">Date of Birth</span>
            <span class="float-end">{{ k.dob }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="my-4">
            <span class="fw-bold">User Name</span>
            <span class="float-end">{{ k.userName }}</span>
          </div>
          <div class="my-4">
            <span class="fw-bold">Created date</span>
            <span class="float-end">{{ k.createdt }}</span>
          </div>
          <div class="my-4">
            <span class="fw-bold">Last updated date</span>
            <span class="float-end">{{ k.moddt }}</span>
          </div>
          <div class="my-4">
            <span class="fw-bold">Country</span>
            <span class="float-end">{{ k.country }}</span>
          </div>
        </div>
      </div>
    </div>
-->
