<footer class="bottom">
  <p>Made for CS321 George Mason Fall 2021. This is a free platform to use up to the discretion of the admins. </p>
  <h6>Terms of Use</h6>
  <p>"User accounts may be locked or deleted if found hacking the website
    or using the website for inappropriate content. Inappropriate content is at the discretion of the admins."</p>
  <h6>Disclaimer</h6>
  <p>Atlas Log is not associated with any tabletop gaming company,
    intended for homebrew content or modules you currently own.</p>
</footer>
