<div class="container-fluid" height="300px">
  <div class="row flex-nowrap">

    <div id="sidebar-col" class="collapse-horizontal show col-auto px-0 bg-dark">

      <!--Code implements the navbar-->
      <div id="sidebar" class="show bg-dark text-light px-2">
        <div class="sidebar-sticky">

          <!--Header-->
          <div class="sidebar-header pt-2">
           <h4>Welcome</h4>
           <hr>
         </div>

         <!--Search Bar-->
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search page" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-1 btn-sm" type="submit">Search</button>
          </form>

          <!--My Accounts button-->
          <ul class="nav d-flex flex-column">
            <li class="nav-item p-1 text-truncate">
              <button class="btn btn-toggle align-items-center rounded collapsed text-primary" data-bs-toggle="collapse" data-bs-target="#accnt-collapse" aria-expanded="false">
                My Account
              </button>
              <div class="collapse" id="accnt-collapse">
                <nav>
                  <div class="nav nav-tabs flex-column pt-1" id="nav-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active bg-dark border-0 text-truncate" id="nav-user-accnt-tab" data-bs-toggle="tab" data-bs-target="#user-details" type="button" role="tab" aria-controls="user-details" aria-selected="true">Profile</button>
                    <button class="nav-link bg-dark border-0 text-truncate" id="nav-user-settings-tab" data-bs-toggle="tab" data-bs-target="#account-settings" type="button" role="tab" aria-controls="account-settings" aria-selected="false">Settings</button>
                  </div>
                </nav>
              </div>

            <!--My Maps link-->
            <li class="nav-item text-truncate"><a class="nav-link" href="#">My Maps</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-auto px-2">
      <!--Button for opening and closing the navbar-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar-col" aria-controls="sidebar-col" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/icons/homepage/menu.svg" alt="menu" style="display: block" class="rounded-circle shadow" height="40"/>
      </button>
    </div>

    <!--Content to be displayed-->
    <div class="col-auto px-2">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="user-details" role="tabpanel" aria-labelledby="nav-user-accnt-tab">
          <app-user-profile></app-user-profile>
        </div>
        <div class="tab-pane fade" id="account-settings" role="tabpanel" aria-labelledby="nav-user-settings-tab">
          <p>Settings page link</p>
        </div>
      </div>
    </div>

  </div>
</div>
