<!-- Created by Renato Scudere. -->
<h1>About Us</h1>
<p>
  We are a team of four Computer Science students at George Mason University,
  and this is our application for our Software Engineering Course (CS321).
  This application is the brainchild of Seth Harding for our Software Engineering course,
  which we were tasked to build as a team. Being a dungeon master,
  he wanted an application which could be used to simplify the role of
  notekeeping for a campaign. Working together as a team, we were able to create an application
  for location-based notekeeping we could call our own.
</p>
<h3>Team Members</h3>
<ul>
  <li>Joel Adeniji.</li>
  <li>Seth Harding.</li>
  <li>Renato Scudere.</li>
  <li>Thomas Clarke.</li>
</ul>
<p>We hope you find our application useful and enjoyable.</p>
