<body class="h-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <app-auth-error-display></app-auth-error-display>
            <h3 class="card-title text-center mb-5 fw-bold text-primary shadow-sm py-2 rounded-lg">
              Sign In
            </h3>
            <form [formGroup]="signInForm" (ngSubmit)="signIn()">
              <div
                class="form-floating mb-3"
                *ngFor="let formControl of formConst"
              >
                <input
                  *ngIf="!formControl.type || formControl.type != 'datalist'"
                  [type]="formControl.type || 'text'"
                  class="form-control"
                  [id]="formControl.formControl + '-regist'"
                  [formControlName]="formControl.formControl"
                  [placeholder]="formControl.placeholder"
                  [ngClass]="{
                    'is-invalid':
                      signInForm.controls[formControl.formControl].invalid &&
                      signInForm.controls[formControl.formControl].touched
                  }"
                  [attr.aria-describedby]="formControl.formControl + '-error'"
                />
                <label [for]="formControl.formControl + '-regist'">
                  {{ formControl.placeholder }}
                </label>

                <small
                  [id]="formControl.formControl + '-error'"
                  class="invalid-feedback"
                >
                  {{ formControl.placeholder }} is required
                </small>
              </div>

              <div class="d-grid mb-2">
                <button
                  class="
                    btn btn-lg btn-primary btn-login
                    fw-bold
                    text-uppercase
                  "
                  [disabled]="signInForm.invalid"
                  type="submit"
                >
                  Sign In
                </button>
              </div>
              <a class="d-block text-center mt-2 small" [routerLink]='["../SignUp"]'
                >Have an account? Sign Up</a
              >
              <hr class="my-4" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
