
   <div class = "container-fluid">
   <div class="card bg-light text-white">
      <img class="card-img" src="assets/images/homepage/topcard.png">
      <div class="card-img-overlay">
        <h1 class="display-1 font">Atlas Log</h1>
        <h4 class="card-text"> Welcome To a new way to organize your table top game notes,
          <br>Plan your notes around where they are important With our simple systems and agnostic setup for any game.</h4>
      </div>
    </div>
    <div class= "containter-fluid">
      <carousel [itemsPerSlide]="3"
      [singleSlideOffset]="false"
      [noWrap]="true"
      [interval]="0"
      [startFromIndex]="5"
      >
      <slide>
        <img src="assets/images/homepage/maps.PNG" alt="first slide" style="display: block; width: 100%; ">
        <div class="carousel-caption d-none d-md-block">
          <h3>Upload your own map files</h3>
          <p>Use maps you found or made yourself, most image formats should work,
            upload all the maps you use and track your notes for each area of your game.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/homepage/pin.PNG" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Pin locations on your maps</h3>
          <p>Pick out the part of your maps that are important and pin them to link your notes.</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/homepage/maps.PNG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
          <h3>Create Notes for each pin</h3>
          <p>Your notes are freeform text for you to use, linked to the pin on the map.
            create tabs for items/characters/history.</p>
        </div>
      </slide>
    </carousel>
  </div>
  </div>
