
@import url('http://fonts.cdnfonts.com/css/harry-potter');

.carousel-caption{
  color: blue;
}

.display-1{
  font-family: 'Harry Potter', sans-serif;
  color: red
}

.card-img-overlay {
  color: red
}
